@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

li, lo, menu {
	list-style: none;
}

body {
	background-color: beige;
}

.cont {
	max-width: 750px;
	margin: 75px auto;
	padding: 1rem;
	text-align: center
}
.title{
	color:red;
	text-transform: uppercase;
}
.a__style, .li__style {
	font-size: 1rem;
	padding: 1rem;
	border: 1px solid black;
	margin: 50px;
}
.a__style:hover,.li__style:hover {
	color:red;
	background-color:beige;
	cursor:pointer;
}