<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movies</title>
<link th:href="@{/style/style.css}" rel="stylesheet" />
<div th:replace="~{fragments :: bootstrap_myStyle}"></div>
</head>
<body>
	<div th:replace="~{fragments :: navbar('movies')}"></div>
	<div class="cont">
		<h2 class="title">Lista Film</h2>
		<ul>
			<li class="li__style" th:each="f : ${films}">
				<p th:text="${f.getTitle()}"></p>
				<a
			class="a__style" th:href="@{/movies/{id}(id=${f.getId()})}">Dettagliiio
		</a>
			</li>
		</ul>

	
	</div>



	<div th:replace="~{fragments :: script}"></div>
</body>
</html>