<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Songs</title>
<link th:href="@{/style/style.css}" rel="stylesheet" />
<div th:replace="~{fragments :: bootstrap_myStyle}"></div>
</head>
<body>
	<div th:replace="~{fragments :: navbar('songs')}"></div>
	<div class="cont">
		<h2 class="title">Lista Canzoni</h2>
		<ul>

			<li class="li__style" th:each="c : ${canzoni}">
				<p th:text="${c.getTitle()}"></p> 
						<a class="a__style" th:href="@{/songs/{id}(id=${c.getId()})}">Dettaglio </a>
						
							
			</li>
		</ul>
	</div>


	<div th:replace="~{fragments :: script}"></div>
</body>
</html>